.cal-comp {
    border: 1px solid rgb(124, 184, 176);
    height: 703px;
    
}

.cal-button-wrapper {
    width: 20%;
    height: 400px;
    border: 1px solid grey;
    margin: 90px 0 0 88px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.cal-button-row {
    display: flex;
    justify-content: space-around;
    padding: 5px;

}

input {
    padding: 12px 20px;
    border-radius: 4px;
}
.btn {
    width: 50px;
    height: 40px;
    font-size: medium;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    
}
.btn:hover{
    border-color: black;
    background-color: #e7e7e7;
} 
